.subtask-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--card-background);
}

.subtask-card>p {
  color: var(--secondary-text);
  margin-bottom: var(--default-margin);
}

.subtask-card>p:last-of-type.due-date {
  margin-top: calc(2 * var(--default-margin));
  margin-bottom: 0;
}
