#page-navigation {
  width: 80%;
  margin: 0 auto;
  margin-bottom: calc(2 * var(--default-margin));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-navigation>p {
  padding: var(--default-margin);
}

#page-navigation>app-button {
  width: 250px;
}
