#page-navigation {
  width: 100%;
  margin: 0 auto;
  margin-bottom: calc(2 * var(--default-margin));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-navigation>p {
  padding: var(--default-margin);
}

#page-navigation>app-button {
  width: 80px;
}

@media screen and (min-width: 576px) {
  #page-navigation>app-button {
    width: 120px;
  }
}
