<div id="content-wrapper">
  @if (formStateSerice.visible() === formTypes.Create) {
    <div id="form-wrapper">
      <app-create-group-form (submitted)="onGroupCreated($event)"></app-create-group-form>
    </div>
  }
  <div id="groups-wrapper">
    <app-page-navigation [lastPage]="lastPage" (pageChanged)="onPageChange($event)"></app-page-navigation>
    <h2>Groups:</h2>
    <div id="grid-wrapper">
      @for (group of groups; track group.id) {
        <app-group-card [group]="group"></app-group-card>
      }
    </div>
  </div>
</div>
