<div id="content-wrapper">
  @if (project != null) {
    <div id="project-info">
      @switch (formStateService.visible()) {
        @case (formTypes.Create) {
          <app-create-task-form [projectId]="project().id" (submitted)="onTaskCreate($event)"></app-create-task-form>
        }
        @case (formTypes.Update) {
          <app-update-project-form [project]="project" (submitted)="onProjectUpdate($event)"></app-update-project-form>
        }
        @default {
          <p id="project-name">{{ project().name }}</p>
          <p id="project-description">{{ project().description }}</p>
        }
      }
      @if (project().role === projectRoles.Owner) {
        @if (formStateService.visible() === null) {
          <div id="project-control">
            <app-button text="Delete" (clicked)="showDeleteModal()"></app-button>
            <app-button text="Edit" (clicked)="toggleUpdateForm()"></app-button>
          </div>
        }
      }
    </div>
    <div id="grid-wrapper">
      @for (task of tasks; track task.id) {
        <app-task-card [task]="task"></app-task-card>
      }
    </div>
  }
</div>
