* {
  padding: 0;
  margin: 0;
}

:root {
  --background: #0D0D0D;
  --card-background: #1A1A1A;
  --primary-text: #FFFFFF;
  --secondary-text: #A0A0A0;
  --due-date-text: #CCCCCC;
  --accent: #A970FF;
  --border: #2A2A2A;
  --border-second: #333333;
  --completed-item: #666666;
  --default-margin: 10px;
}

html {
  font-size: 16px;
}

body {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
