* {
  padding: 0;
  margin: 0;
}

:root {
  --background: #0D0D0D;
  --card-background: #1A1A1A;
  --primary-text: #FFFFFF;
  --secondary-text: #A0A0A0;
  --due-date-text: #CCCCCC;
  --accent: #A970FF;
  --border: #2A2A2A;
  --border-second: #333333;
  --cancel: #666666;
  --cancel-hover: #808080;
  --default-margin: 10px;
  --delete: #FF4D4D;
  --delete-hover: #E63946;
  --notification-width: 80vw;
}

html {
  font-size: 16px;
}

body {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
}

h2 {
  font-size: 1.2rem;
  margin-bottom: calc(2 * var(--default-margin));
}

a {
  color: var(--accent);
}

.text-center {
  text-align: center;
}

.error-text {
  margin-bottom: var(--default-margin);
  font-size: 0.8rem;
  color: var(--accent);
}

@media screen and (min-width: 480px) {
  :root {
    --notification-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
