@if (modal.state()) {
  <app-modal (confirmed)="onTaskDelete()"></app-modal>
}
<div id="content-wrapper">
  @if (task != null) {
    <div id="task-info">
      @switch (formStateService.visible()) {
        @case (formTypes.Create) {
          <app-create-subtask-form [projectId]="projectId" [taskId]="taskId" (submitted)="onSubtaskCreate($event)"></app-create-subtask-form>
        }
        @case (formTypes.Update) {
          <app-update-task-form [projectId]="projectId" [task]="task" (submitted)="onTaskUpdate($event)"></app-update-task-form>
        }
        @default {
          <app-input-checkbox
            [id]="'task-' + task().id"
            [label]="task().title"
            [checked]="task().completed"
            (checkedChange)="onCheckboxChange($event)"
          ></app-input-checkbox>
          <p id="task-description">{{ task().description }}</p>
          @if (task().priority != null) {
            <p>Priority Level: {{ task().priority }}</p>
          }
          @if (task().due_date != null) {
            <p>{{ task().due_date | dueDateFormat }}</p>
          }
          @if (task().completed_at != null && task().due_date != null) {
            <p>{{ task().completed_at! | dayDifference:task().due_date! }}</p>
          }
        }
      }
        @if (formStateService.visible() === null) {
          <div id="task-control">
            @if (task().deletable) {
              <app-button text="Delete" (clicked)="showDeleteModal()"></app-button>
            }
            @if (task().editable) {
              <app-button text="Edit" (clicked)="toggleUpdateForm()"></app-button>
            }
          </div>
        }
    </div>
    <div id="subtask-wrapper">
      <app-page-navigation [lastPage]="lastPage" (pageChanged)="onPageChange($event)"></app-page-navigation>
      <div id="grid-wrapper">
        @for (subtask of subtasks; track subtask.id) {
          <app-subtask-card [projectId]="projectId" [taskId]="taskId" [subtask]="subtask"></app-subtask-card>
        }
      </div>
    </div>
  }
</div>
