<router-outlet/>
@if (modal.state()) {
  <app-modal (confirmed)="onGroupDelete()"></app-modal>
}
<div id="content-wrapper">
  @if (group != null) {
    @switch (formStateService.visible()) {
      @case (formTypes.Create) {
        <div id="form-wrapper">
          <app-create-project-form [groupId]="group().id" (submitted)="onProjectCreated()"></app-create-project-form>
        </div>
      }
      @default {
        <div id="group-info">
          @if (formStateService.visible() === null) {
            <p id="group-name">{{ group().name }}</p>
            <p id="group-owner">Owner: {{ group().owner }}</p>
            <p id="group-members">Members:</p>
            @for (member of group().members; track member) {
              <span class="group-member">{{ member }}</span>
            }
            <div id="group-control">
              @if (group().deletable) {
                <app-button text="Delete" (clicked)="showDeleteModal()"></app-button>
              }
              @if (group().editable) {
                <app-button text="Manage" (clicked)="goToManage()"></app-button>
              }
              @if (group().can_invite_to_group) {
                <app-button text="Invite" (clicked)="goToInviteToGroup()"></app-button>
              }
            </div>
          }
        </div>
      }
    }
    <div id="projects-wrapper">
      <app-page-navigation [lastPage]="lastPage" (pageChanged)="onPageChange($event)"></app-page-navigation>
      <h2>Projects:</h2>
      <div id="grid-wrapper">
        @for (project of projects; track project.id) {
          <app-project-card [project]="project"></app-project-card>
        }
      </div>
    </div>
  }
</div>
