button {
  padding: 5px;
  background-color: var(--border);
  color: var(--primary-text);
  border: 1px solid var(--border-second);
  border-radius: 5px;
  cursor: pointer;
}

.main-header-button {
  box-shadow: 0px 0px 3px 1px var(--accent);
  color: var(--accent);
}

.prev-project,
.next-project {
  width: 70px;
}

.width-100 {
  width: 100%;
}

.float-right {
  float: right;
}

.color-accent {
  color: var(--accent)
}

.button-cancel {
  position: absolute;
  top: -16px;
  right: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--border);
  border: 1px solid var(--border-second);
  color: var(--cancel);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.button-cancel:hover {
  background: var(--border-second);
  color: var(--cancel-hover)
}

@media screen and (min-width: 768px) {

  .prev-project,
  .next-project {
    width: 150px;
  }
}

@media screen and (min-width: 992px) {
  button {
    padding: 8px;
  }
}
