button {
  padding: 5px;
  background-color: var(--border);
  color: var(--primary-text);
  border: 1px solid var(--border-second);
  border-radius: 5px;
}

.new-project,
.new-task {
  box-shadow: 0px 0px 3px 1px var(--accent);
  color: var(--accent);
}

.prev-project,
.next-project {
  width: 70px;
}

@media screen and (min-width: 768px) {

  .prev-project,
  .next-project {
    width: 150px;
  }
}
