<header>
  <div id="top-header-wrapper">
    <h1 routerLink="/">TaskMan</h1>
    @if (url() === '/') {
      <app-button text="Projects" (clicked)="goToProjects()"></app-button>
    }
    @if (buttonService.formAction() != null) {
      <app-button [text]="buttonService.text()" [classList]="['main-header-button']" (clicked)="onMainHeaderButtonClick()"></app-button>
    }
  </div>
  <div id="bottom-header-wrapper">
    <div>
      @if (!isLoggedIn()) {
        <app-button text="Login" (clicked)="goToLogin()"></app-button>
        <app-button text="Register" (clicked)="goToRegister()"></app-button>
      }
      @else {
        <span>{{ getFullName() }}</span>
        <app-button text="Logout" (clicked)="goToLogout()"></app-button>
      }
    </div>
    <div>
      @if (!isLoggedIn()) {
        <app-button text="Import" (clicked)="importData()"></app-button>
        <app-button text="Export" (clicked)="exportData()"></app-button>
      }
      @if (url() != '/') {
        <app-button text="Back" (clicked)="goBack()"></app-button>
      }
    </div>
  </div>
</header>
