<header>
  <div id="top-header-wrapper">
    <h1 routerLink="/">TaskMan</h1>
    <app-button text="New Project" [classList]="['new-project']" (clicked)="toggleNewProjectForm()"></app-button>
  </div>
  <div id="bottom-header-wrapper">
    <div>
      @if (!isLoggedIn()) {
        <app-button text="Login" (clicked)="goToLogin()"></app-button>
        <app-button text="Register"></app-button>
      }
      @else {
        <app-button text="Logout" (clicked)="goToLogout()"></app-button>
      }
    </div>
    <div>
      <app-button text="Import"></app-button>
      <app-button text="Export"></app-button>
    </div>
  </div>
</header>
