.task-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--card-background);
}

.task-priority {
  position: absolute;
  top: 16px;
  right: 16px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--delete);
  border-radius: 50%;
}

.priority-1 {
  opacity: 0.1;
}

.priority-2 {
  opacity: 0.2;
}

.priority-3 {
  opacity: 0.3;
}

.priority-4 {
  opacity: 0.4;
}

.priority-5 {
  opacity: 0.5;
}

.priority-6 {
  opacity: 0.6;
}

.priority-7 {
  opacity: 0.7;
}

.priority-8 {
  opacity: 0.8;
}

.priority-9 {
  opacity: 0.9;
}

.priority-10 {
  opacity: 1;
}

.task-card>p {
  margin-bottom: var(--default-margin);
}

.task-card>p:last-of-type.due-date {
  margin-top: calc(2 * var(--default-margin));
  margin-bottom: 0;
}

.description {
  color: var(--secondary-text);
}

.due-date {
  text-align: right;
  font-size: 0.7rem;
  color: var(--due-date-text);
}

.late {
  color: var(--accent);
}
