.task-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--card-background);
}

.task-card>p {
  margin-bottom: var(--default-margin);
}

.task-card>p:last-of-type.due-date {
  margin-top: calc(2 * var(--default-margin));
  margin-bottom: 0;
}

.due-date {
  text-align: right;
  font-size: 0.7rem;
  color: var(--due-date-text);
}

.late {
  color: var(--accent);
}
