<div class="task-card" (click)="onClick()">
  @if (task.priority != null) {
    <div [ngClass]="['task-priority', 'priority-' + task.priority]"></div>
  }
  <app-input-checkbox
    [id]="'task-' + task.id"
    [label]="task.title"
    [checked]="task.completed"
    [disabled]="true"
  ></app-input-checkbox>
  <p class="description">{{ task.description }}</p>
  @if (task.due_date != null) {
    <p class="due-date" [ngClass]="getDueDateClass(this.task.due_date)">{{ this.task.due_date | dueDate:this.task.due_date }}</p>
  }
</div>
