.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--card-background);
}

.project-info>p {
  margin-bottom: var(--default-margin);
}

.project-card>app-button {
  float: right;
}
