#search-form {
  position: relative;
  padding: 20px;
  margin-bottom: var(20px);
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--card-background);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--default-margin);
}
