form {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: var(20px);
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--card-background);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
}

app-button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  form {
    width: 50%;
  }
}
