<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
  <app-input
    id="email"
    label="Email"
    formControlName="email"
  ></app-input>
  @if (this.isSubmitted || this.email?.touched) {
    @if (email?.errors?.['required']) {
      <p class="error-text">Email is required.</p>
    }
  }

  <app-input
    id="password"
    label="Password"
    formControlName="password"
  ></app-input>
  @if (this.isSubmitted || this.password?.touched) {
    @if (password?.errors?.['required']) {
      <p class="error-text">Password is required.</p>
    }
  }

  <app-button text="Login" [classList]="['width-100']"></app-button>
</form>
