input {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  margin-bottom: var(--default-margin);
  padding: 8px;
  font-size: 0.9rem;
  color: var(--primary-text);
  background-color: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 5px;
}

input:focus {
  outline: var(--accent);
  color: var(--primary-text);
}

label {
  width: 100%;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 0 5px;
  margin-top: calc(-0.75rem / 2);
  font-size: 0.75rem;
  transform: translate(8px, calc(0.75rem / 2));
  background-color: var(--card-background);
  color: var(--secondary-text);
}
